.headerDiv {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    z-index: 100;
    
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    position: relative;
}

.logo p {
    font-weight: 600;
    font-size: 25px;
    opacity: 1;
}

.logo img{
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.logo:hover p{
    opacity: 0;
    transition: opacity 1s ease;
}

.logo:hover img {
    opacity: 1;
}