.headerDiv {
    background-color: red;
    display: flex;
    flex: 1;
    justify-content: space-between;
    height: 75px;
    width: 100%;
}

.logo {
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
}