.container{
    width: 50%;
    display: flex;
    justify-self: right;
    justify-content: space-between;
    align-items: center;
    margin-right: 5vw;
    max-width: 500px;
}

.navItem {
    padding: 1px;
    color: white;
    text-decoration: none;
    font-weight: 600;

    
}
.navItem:hover,
.navItemActive {
    padding: 1px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 600;
}