@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:#081b29;
  min-height: 100svh;
}

.contentContainer {
  min-height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  background-image: url("/portrait3.png");
}